<%= turbo_frame_tag service_request do %>
    <%= form_with model: service_request, url: service_requests_path, class: "form", data: { turbo_stream: true, test_id: "service-request-form" } do |form| %>
        <% if service_request.errors.any? %>
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                    <% service_request.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= turbo_frame_tag "service-request-fields" do %>
            <%= content_tag :div, class: "service-request-fields" do %>
                <%= render partial: "service_requests/fields", locals: { form: form } %>
            <% end %>
        <% end %>
        
        <%= content_tag :h2 do %>
            <%= t('models.service_request.coordinate') %>
        <% end %>
        <%= turbo_frame_tag "coordinates-fields" do %>
            <%= render "service_requests/coordinates" %>
        <% end %>

        <% unless user_signed_in? %>
            <%= tag.section 'log-in' do %>
                <%= tag.h2 t('models.session.create_title') %>
                <%= render "devise/sessions/form" %>
            <% end %>

            <%= tag.section 'sign-up' do %> 
                <%= tag.h2 t('models.user.create_title') %>
                <%= render "users/form", user: User.new %>
            <% end %>
        <% end %>
        
        <%# submit button %>
        <%= content_tag :div, class: "actions" do %>
            <% if user_signed_in? && current_user.client %>
                <%= form.submit t('models.create'), data: { turbo: false } %>
            <% end %>
        <% end %>
    <% end %>
<% end %>