<%= turbo_frame_tag @service_request do %>
    <%= form_with model: @service_request, url: service_request_url, class: "form", data: { turbo_stream: false } do |form| %>
        <% if @service_request.errors.any? %>
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                    <% @service_request.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= turbo_frame_tag "service-request-fields" do %>
            <%= content_tag :div, class: "service-request-fields" do %>
                <%= render partial: "service_requests/fields", locals: { form: form } %>
            <% end %>
        <% end %>
        
        <%= content_tag :h2 do %>
            <%= t('models.service_request.coordinate') %>
        <% end %>
        <%= turbo_frame_tag "clients-fields" do %>
            <% if !user_signed_in? %>
                <%= tag.div class: "hint" do %>
                    <%= t('alerts.need_log_in') %>
                <% end %>
                <%= tag.div class: "actions" do %>
                    <%= link_to t('cta.log_in'), new_user_session_path, class: "button", data: { turbo: false } %>
                    <%= link_to t('cta.sign_up'), new_user_registration_path, class: "button", data: { turbo: false } %>
                <% end %>
            <% elsif user_signed_in? && current_user.client.nil? %>
                <%= tag.div class: "hint" do %>
                    <%= t('alerts.need_create_client') %>
                <% end %>
                <%= render partial: "clients/fields", locals: { form: form } %>
            <% else %>
                <%= render partial: "service_requests/coordinates" %>
            <% end %>
        <% end %>
        
        <%# submit button %>
        <%= content_tag :div, class: "actions" do %>
            <% if user_signed_in? && current_user.client %>
                <%= form.submit t('models.create') %>
            <% end %>
        <% end %>
    <% end %>
<% end %>