<%= turbo_frame_tag @service_request do %>
    <%= form_with model: @service_request do |form| %>
        <% if @service_request.errors.any? %>
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                    <% @service_request.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= turbo_frame_tag "service-request-fields" do %>
            <%= content_tag :div, class: "service-request-fields" do %>
                <%# service category %>
                <%= content_tag :div, class: "field field--service-category" do %>
                    <%= render partial: 'service_categories/pick', locals: { carousel_categories: @service_request.service ? @service_request.service.service_category.subcategories : ServiceCategory.top_level, form_object: form.object_name, selected_category_id: @service_request.service ? @service_request.service.service_category.id : 0.to_s } %>
                <% end %>
                <%# service %>
                <% if form.object %>
                <%= content_tag :div, class: "field field--service" do %>
                    <%= form.label t('models.service.model_name') %>
                    <%= form.collection_select :service_id, %>
                <% end %>
                <%# submit button %>
                <%= content_tag :div, class: "actions" do %>
                    <%= form.submit t('models.register') %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>