<%= turbo_stream.replace "service-category-picker__carousel" do %>
    <%= render partial: 'service_categories/carousel', locals: { carousel_categories: service_category ? service_category.subcategories : ServiceCategory.top_level } %>
<% end %>
<%= turbo_stream.replace "service-category-picker__breadcrumbs" do %>
    <%= render partial: 'service_categories/breadcrumbs', locals: { breadcrumbs_categories: service_category ? service_category.breadcrumbs : [] } %>
<% end %>
<%= turbo_stream.update_all "#services-picker-select label" do %>
    <% if service_category && service_category.services.count > 0 %>
        <%= tag.label t('models.service.model_name') %>
    <% end %>
<% end %>
<%= turbo_stream.update_all "#services-picker-select select" do %>
    <% if service_category && service_category.services %>
        <% service_category.services.each do |service| %>
            <option value="<%= service.id %>"><%= service.label %></option>
        <% end %>
    <% end %>
<% end %>