<%= form_with model: @coordinate, class: "form" do |form| %>
    <% if @coordinate.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% @coordinate.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= content_tag :div, class: "coordinate-fields" do %>
        <%= content_tag :div, class: "form__group" do %>
            <%# civic number %>
            <%= content_tag :div, class: "field field--civic-number" do %>
                <%= form.label t('models.coordinate.civic_number') %>
                <%= form.text_field :civic_number %>                
            <% end %>
            <%# street name %>
            <%= content_tag :div, class: "field field--street-name" do %>
                <%= form.label t('models.coordinate.street_name') %>
                <%= form.text_field :street_name %>                
            <% end %>
            <%# door number (appt/office #) %>
            <%= content_tag :div, class: "field field--door-number" do %>
                <%= form.label t('models.coordinate.door_number') %>
                <%= form.text_field :door_number %>                
            <% end %>
        <% end %>
        <%= content_tag :div, class: "form__group" do %>
            <%# postal/zip code %>
            <%= content_tag :div, class: "field field--postal-code" do %>
                <%= form.label t('models.coordinate.postal_code') %>
                <%= form.text_field :postal_code %>                
            <% end %>
            <%= content_tag :div, class: "field field--city" do %>
                <%# search field %>
                <%= form.label t('models.coordinate.city') %>
                <%= form.collection_select :city_id, City.all, :id, :name %>                
            <% end %>
        <% end %>
            <%= form.submit t('models.city.create_title'), data: { turbo_frame: "city-picker" }, name: :new_city %>
        <%= content_tag :div, class: "form__group" do %>
            <%= turbo_frame_tag "city-picker" do %>
                <%# city %>
                <%= form.fields_for :city do |city_form| %>
                    <%= tag.div class: "city-form" do %>         
                        <%= content_tag :h3, class: "form__header" do %>
                            <%= t('models.city.create_title') %>
                        <% end %>
                        <%= content_tag :div, class: "form__group" do %>
                            <%# city name %>
                            <%= content_tag :div, class: "field field--name" do %>
                                <%= city_form.label t('models.city.name') %>
                                <%= city_form.text_field :name %>
                            <% end %>
                            <%# province %>
                            <%= content_tag :div, class: "field field--province-code" do %>
                                <%= city_form.label t('models.city.province_code') %>
                                <%= city_form.select :province_code, options_for_select(City.province_codes_for_select) %>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
        <%= content_tag :div, class: "form__group" do %>
            <%# additional notes %>
            <%= content_tag :div, class: "field field--notes" do %>
                <%= form.label t('models.coordinate.notes') %>
                <%= form.text_area :notes %>
            <% end %>
            <%# submit button %>
                <%= form.submit t('models.create') %>
        <% end %>
    <% end %>
<% end %>

