<%= form_with model: @coordinate, class: "form", data: { controller: "coordinates", turbo: "false" } do |form| %>
    <% if @coordinate.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% @coordinate.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= content_tag :div, class: "coordinate-fields" do %>
        <%= render partial: "coordinates/fields", locals: { form: form } %>
    <% end %>
    <%# submit button %>
    <%= form.submit t('models.create') %>
<% end %>

