<%= turbo_frame_tag @user do %>
    <%= form_with model: @user, url: url ||= user_registration_path, class: "form", data: { controller: "users", turbo: false } do |form| %>
        <% if @user.errors.any? %>
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= render partial: "users/fields", locals: { form: form } %>
        <%= tag.div class: "form__checkbox", id: "is-client-checkbox" do %>
            <%= check_box_tag :is_client, 1, true, { id: "is-client", disabled: true, name: "user[is_client]" } %>
            <%= form.label t('models.user.is_client') %>
        <% end %>
        <%= tag.div class: "form__checkbox", id: "is-service-provider-checkbox" do %>
            <%= check_box_tag :is_service_provider, 1, false, { id: "is-service-provider", name: "user[is_service_provider]" } %>
            <%= form.label t('models.user.is_service_provider') %>
        <% end %>
        <%= tag.div class: "form__actions" do %>
            <%# submit button %>
            <%= form.submit t('models.register') %>
        <% end %>
    <% end %>
<% end %>