<%= turbo_frame_tag @user do %>
    <%= form_with model: @user do |form| %>
        <% if @user.errors.any? %>
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= content_tag :div, class: "user-fields" do %>
            <%# user email %>
            <%= content_tag :div, class: "field field--email" do %>
                <%= form.label t('models.user.email') %><br />
                <%= form.text_field :email %>
            <% end %>
            <%# username %>
            <%= content_tag :div, class: "field field--username" do %>
                <%= form.label t('models.user.username') %><br />
                <%= form.text_field :username %>
            <% end %>
            <%# password %>
            <%= content_tag :div, class: "field field--password" do %>
                <%= form.label t('models.user.password') %><br />
                <%= form.password_field :password %>
            <% end %>
            <%# confirm password %>
            <%= content_tag :div, class: "field field--password-confirm" do %>
                <%= form.label t('models.user.password_confirmation') %><br />
                <%= form.password_field :password_confirmation %>
            <% end %>
            <%# submit button %>
            <%= content_tag :div, class: "actions" do %>
                <%= form.submit t('models.register') %>
            <% end %>
        <% end %>
    <% end %>
<% end %>