<%= form_with model: @city, class: "form" do |form| %>
    <% if @city.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% @city.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= content_tag :div, class: "city-fields" do %>
        <%= content_tag :div, class: "form__group" do %>
            <%# city name %>
            <%= content_tag :div, class: "field field--name" do %>
                <%= form.text_field :name %>
                <%= form.label t('models.city.name') %>
            <% end %>
            <%# province %>
            <%= content_tag :div, class: "field field--province-code" do %>
                <%= form.select :province_code, options_for_select(City.province_codes_for_select) %>
                <%= form.label t('models.city.province_code') %>
            <% end %>
        <% end %>
        <%# submit button %>
        <%= content_tag :div, class: "actions" do %>
            <%= form.submit t('models.register') %>
        <% end %>
    <% end %>
<% end %>

