<%= model_form_with model: @city do |form| %>
    <% if @city.errors.any? %>
        <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
                <% @city.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= content_tag :div, class: "city-fields" do %>
        <%= render partial: "cities/fields", locals: { form: form } %>
        <%# submit button %>
        <%= content_tag :div, class: "actions" do %>
            <%= form.submit t('models.register') %>
        <% end %>
    <% end %>
<% end %>

